
.link{
    color:white;
}


a{
    color: #787878;
    /* color:rgb(161, 87, 19); */
    font-size: 22px;
}

a:hover{
    color: #ddd;
}

.star {
    visibility:hidden;
    font-size:15px;
    cursor:auto;
    color:gold;
}
.star:before {
   content: "";
   position: absolute;
   visibility:visible;
   color:white;
}
.star:checked:before {
   content: "\2605";
   position: absolute;
   color:gold;
   font-size:18px;
}