.New{
    color:white;
    
}

input[type=button], input[type=submit] {
    font-family:inherit;
    background-color: #fff;
    color: black;
    padding: 0.01em 1.1em 0.01em 1.1em;
    border-radius: 20px;
    font-weight:100;
    font-size: 1.5em;
    box-shadow: 0 2px 6px 0;   
    cursor:pointer;
  }

  button{
    cursor: pointer;
  }

  input[id=artist]{
    margin-left: 50px;
  }

  input[id=album]{
    margin-left: 15px;
  }

  input[id=time]{
    margin-left: 45px;
  }

  input[id=name]{
    margin-left: 20px;
  }

  /* input[id=amount]::-webkit-outer-spin-button,
  input[id=amount]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  } */


  input[id=is_favorite]{
    margin-left: 50px;
  }
  label[id=check]{
    margin-left: 200px;
  }


  label{
    margin-right: 15px;
  }
  input{
    margin-bottom: 15px;
    border: 1px solid #B0B0B0;
    padding:12px 100px 12px 12px;
    font-size:17px;
    width: 30%;
    box-sizing: border-box;
    background-color: #484848;
    color:white;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 
  }

  input[type=checkbox]{
    accent-color: #484848;
    box-shadow: none;
  }


